@use '../../../index' as *;

.input {
  width: 100%;
  padding: 12px;
  @include text(16px, 1.5, 400);
  border: 1px solid $text-dark;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
}

.input:hover {
  border: 1px solid $input-hover;
}

.input:focus {
  border: 1px solid $input-hover;
}

.input::placeholder {
  color: $placeholder;
  @include text(16px, 1.5, 400);
}

input:focus-visible {
  outline: none;
}

.input[type=number]::-webkit-outer-spin-button,
.input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}