@use '../../index.scss' as *;

.wrap {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 325px;
  position: relative;
}

.photo {
  background-size: cover;
  filter: grayscale(1);
}

.photoWrap {
  width: 325px;
  height: 325px;
}

.infoWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  @include text(20px, 28px, 400);
  color: $text-dark;
  margin: 0;
}

.commentIcon {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 18.67px;
  left: 281px;
  visibility: hidden;
}

.city, .messages {
  @include text(16px, 24px, 400);
  margin: 0;
}

.wrap:hover {
  cursor: pointer;
}
  
.wrap:hover .photoWrap {
  border: 2px solid $neon-pink;
}
  
.wrap:hover .name {
  color: $neon-pink;
}
  
.wrap:hover .commentIcon {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .wrap {
    max-width: 342px;
  }
  .photoWrap, .photo{
    width: 342px;
    height: 342px;
  }
  .commentIcon {
    top: 16px;
    left: 294px;
    visibility: visible;
  }
}

@media screen and (max-width: 320px) {
  .wrap {
    max-width: 272px;
  }
  .photoWrap, .photo {
    width: 272px;
    height: 272px;
  }
  .commentIcon {
    top: 18.67px;
    left: 228px;
  }
}



