.CellValue {
    box-sizing: border-box;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.CellTextValue {
    width: 442px;
    box-sizing: border-box;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.DeleteButton {
    padding: 0;
    margin: 0;
    border: 0;
    background:none;
    cursor: pointer;
}