@use '../../index.scss' as *;

.app{
  color: $text-dark;
  font-family: 'IBMPlexSans', sans-serif;
  @include text(14px, 18px, 400);
  background-color: #fff;
  margin: 0;
  height: 100vh;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100% - 184px);
}
