@font-face {
  src: url('./IBMPlexSans/IBMPlexSans-Bold.ttf') format('truetype');
  font-family: 'IBMPlexSans';
  font-weight: bold;
}
@font-face {
  src: url('./IBMPlexSans/IBMPlexSans-Medium.ttf') format('truetype');
  font-family: 'IBMPlexSans';
  font-weight: 500;
}
@font-face {
  src: url('./IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype');
  font-family: 'IBMPlexSans';
  font-weight: 400;
}