@use '../../../index' as *;

.textArea{
  width: 100%;
  padding: 12px 16px;
  @include text(16px, 1.5, 400);
  border: 1px solid $text-dark;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.textArea:hover{
  border: 1px solid $input-hover;
}

.textArea:focus{
  border: 1px solid $input-hover;
}

.textArea:focus-visible{
  outline: none;
}

.textArea::placeholder{
  color: $placeholder;
  @include text(16px, 1.5, 400);
}
