.react-datepicker {
  border: none;
}
.react-datepicker__day-names {
  display: none;
}
.react-datepicker__header {
  text-align: center;
  background-color: #fff;
  border: none;
  padding: 0 0 8px 0;
}
.react-datepicker__month-container {
  padding: 8px;
}
.react-datepicker__month {
  margin: 0;
}
.react-datepicker__day{
  margin: 0 !important;
  color: #100C34;
  width: 22px !important;
  height: 22px;
  padding: 3px 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px !important;
  border-radius: 4px;
  cursor: pointer;
}
.react-datepicker__day--selected{
  color: #FFF !important;
  background-color: #FF00A8 !important;
}
.react-datepicker__day:hover{
  background-color: #F8F8F8 !important;
  color: #100C34 !important;
}
.react-datepicker__day--outside-month{
  color: #9e9da0 !important;
}
.react-datepicker__week{
  display: flex;
  flex-direction: row;
  gap: 7.67px;
  margin-bottom: 8px;
  text-align: center;
}
.react-datepicker__week:last-child{
  margin-bottom: 0;
}
.react-datepicker__day--selected:hover{
  color: #100C34;
}
.react-datepicker__day--today{
  font-weight: 400 !important;
}
.react-datepicker__day--disabled{
  cursor: not-allowed !important;
}
.react-datepicker__day:focus-visible{
  border: none !important;
  outline: none !important;
}