@use '../../index.scss' as *;

.page {
  align-self: flex-start;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 325px);
  column-gap: 20px;
}

.linkCnt {
  grid-column-start: 4;

  display: flex;
  align-items: center;
  justify-content: end;
}

.link {
  @include text(16px, 24px, 400);
  text-decoration: none;
  color: $text-dark;
}

.cardsCnt {
  margin-top: 40px;

  grid-column-start: 1;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: repeat(4, auto);

  column-gap: 20px;
  row-gap: 39px;
}

.loaderCnt {
  width: 100%;
  height: 207px;

  display: flex;
  align-items: center;
  justify-content: center;

  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}

@media screen and (max-width: 1439px) {
  .content {
    grid-template-columns: repeat(2, 342px);
  }

  .linkCnt {
    grid-column-start: 2;
  }

  .cardsCnt {
    margin-top: 32px;

    grid-template-columns: repeat(2, 342px);
    row-gap: 31px;
  }

  .loaderCnt {
    height: 163px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    grid-template-columns: 272px;
  }

  .linkCnt {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .cardsCnt {
    margin-top: 24px;

    grid-template-columns: 272px;
    grid-row-start: 3;
    row-gap: 24px;
  }

  .loaderCnt {
    height: 196px;
  }
}