@use '../../index.scss' as *;

.page {
  align-self: flex-start;

  display: grid;
  grid-template-columns: repeat(4, 325px);
  column-gap: 20px;
  row-gap: 40px;
}

.linkCnt {
  grid-column-start: 4;

  display: flex;
  align-items: center;
  justify-content: end;
}

.link {
  @include text(16px, 24px, 400);
  text-decoration: none;
  color: $text-dark;
}

.cardsCnt {
  grid-column-start: 1;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: repeat(4, auto);

  column-gap: 20px;
  row-gap: 39px;
}

@media screen and (max-width: 1439px) {
  .page {
    grid-template-columns: repeat(2, 342px);
    row-gap: 32px;
  }

  .linkCnt {
    grid-column-start: 2;
  }

  .cardsCnt {
    grid-template-columns: repeat(2, 342px);
    row-gap: 31px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    grid-template-columns: 272px;
  }

  .linkCnt {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .cardsCnt {
    grid-template-columns: 272px;
    grid-row-start: 3;
    row-gap: 24px;
  }
}