@use '../../../index' as *;

.inputWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.maxWidth{
  max-width: 325px;
}
.label {
  @include text(16px, 24px, 400);
  padding-bottom: 4px;
}

.description{
  @include text(14px, 18.2px, 400);
  padding-top: 4px;
  padding-bottom: 10px;
}

.error{
  @include text(16px, 24px, 400);
  padding-top: 4px;
  color: $error;
}