@use '../../../index' as *;

.inputWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  @include text(16px, 1.5, 400);
}

.description{
  @include text(14px, 1.3, 400);
}

.error{
  @include text(16px, 1.5, 400);
  color: $error;
}