@use '../../index.scss' as *;

.section {
  margin: 8px 40px 0 40px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(342px, 443px) minmax(342px, 440px) 1fr;
  column-gap: 70px;
  grid-template-areas: 
    'user avatar quote'
    'posts posts quote'
}

.user {
  display: flex;
  grid-area: user;
  align-self: end;
}

.wrapAvatar {
  grid-area: avatar;
}

.wrapQuete{
  display: flex;
  margin-left: 15px;
  grid-area: quote;
}

.wrapPosts {
  grid-area: posts;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 56px 70px;
  margin-bottom: 96px;
  list-style-type: none;
  padding: 0;
  margin-top: 72px;
}
@media screen and (max-width: 1250px) {
  .section {
    grid-template-columns: minmax(342px, 443px) minmax(342px, 440px);
    column-gap: 20px;
    grid-template-areas:
        "user avatar"
        ". quote"
        "posts posts";
  }
  .wrapQuete{
    margin-left: 0;
  }
  .posts {
    grid-gap: 40px 20px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    margin: 8px 32px 0 32px;
    grid-template-columns: minmax(272px, 342px) minmax(272px, 342px);
    column-gap: 20px;
    grid-template-areas:
        "user avatar"
        ". quote"
        "posts posts";
  }
  .wrapQuete{
    display: flex;
    grid-area: quote;
  }
  .posts {
    grid-gap: 40px 20px;
    margin-bottom: 76px;
  }
}
@media screen and (max-width: 600px) {
  .section {
    margin: 8px 24px 0 24px;
    justify-content: center;
    grid-template-columns: 272px;
    grid-template-areas:
        "user"
        'avatar'
        "quote"
        "posts";
  }
  .posts {
    grid-gap: 40px 20px;
    margin-bottom: 76px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 32px;
  }
  .wrapAvatar {
    margin-top: 32px;
  }
}

@media screen and (max-width: 320px) {
  .section {
    margin: 8px 24px 0 24px;
    grid-template-columns: 272px;
    grid-template-areas:
        "user"
        'avatar'
        "quote"
        "posts";
  }
}