@use '../../index.scss' as *;

.section {
  margin: 8px 110px 0 40px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.wrapUser {
  display: flex;
  align-items: flex-end;
}

.user {
  margin-right: 67px;
}

.wrapComponents {
  display: flex;
  gap: 85px;
  align-items: center;
  cursor: pointer;
}

.wrapPosts {
  margin-top: 72px;
  
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 56px 70px;
  margin-bottom: 96px;
  list-style-type: none;
  padding: 0;
}