.Label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.InputText {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    border: 1px solid #100C34;
    border-radius: 4px;
    padding: 12px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.InputText:hover {
    border: 1px solid #666666;
}

.InputText:focus {
    border: 1px solid #666666;
}

.InputText[type=number]::-webkit-outer-spin-button,
.InputText[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.InputText[type=number] {
    -moz-appearance: textfield;
}