@use '../../index.scss' as *;

.photo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.photoRomantic {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.photoDaring {
  mask-image: url(../../images/maska.png);
  -webkit-mask-image: url(../../images/maska.png);
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.wrapDefault {
  width: 440px;
  height: 440px;
}

.wrapDaring {
  width: 480px;
  height: 440px;
}