@use './fonts/fonts.scss' as *;

// переменные

$text-dark: #100C34;
$neon-pink: #FF00A8;
$neon-green: #38EC42;
$error: #E90D41;
$text-light: #A3A3A3;
$input-hover: #666666;
$placeholder: #83828F;
$text-white: #FFFFFF;
$text-black: #000000;
$table-gray: #83828F;
$header-link: #F9F9F9;



// миксины

@mixin text($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}
//если не добавить, то браузер добавляет margin
body{
  margin: 0;
}